/* public/css/profile.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('/images/sunset.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150vh;
    margin: 20px;
    margin-top: 0;
    padding: 200px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.404);
    margin-top: 5em;

}
h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f8f8f8;
}
