* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.form-section {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

h2 {
    text-align: left;
    color: #0dcaf0;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    transition: border 0.3s ease;
}

.input-group input:focus {
    border-color: #0dcaf0;
}

/* Password Eye Fucntionality */
.password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.password-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.material-icons {
    font-size: 24px;
    color: #6c757d;
    transition: color 0.3s;
}

.material-icons:hover {
    color: #0dcaf0;
}



.course-select{
    margin-bottom: 2em;
}
.course-select p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-option {
    padding: 10px 15px;
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    width: 120px;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.course-option.selected {
    background-color: #0dcaf0;
    color: white;
    border: 1px solid #0dcaf0;
}

.sb-btn {
    width: 100%;
    padding: 15px;
    background-color: #0dcaf0;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sb-btn:hover {
    background-color: #0bb8d6;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #0dcaf0;
    border: none;
    border-radius: 5px;
    color: rgb(119, 119, 119);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0bb8d6;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.terms input {
    margin-right: 10px;
}

p {
    text-align: center;
}

p a {
    color: #0dcaf0;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.image-section {
    width: 50%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}